 .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.menu-content {
  background-color: #121212;
  color: white;
  padding: 0 0 16px 0;
}

.menu-title {
  font-size: 24px;
  font-weight: bold;
  padding: 16px;
}

.menu-list {
  --background: #121212;
  --ion-item-background: #121212;
  --color: white;
  --border-color: #2a2a2a;
}

ion-item {
  --padding-start: 16px;
  --inner-padding-end: 16px;
  --min-height: 44px;
  font-size: 16px;
}

.camera-list {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


#floating-btn {
  position: fixed;
  bottom: 20px;
  right: 20px;
  width: 30px;
  height: 80px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background: transparent;
  border: none;
  box-shadow: none;
  padding: 0;
}

#floating-btn img {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.no-signal-box {
  background-color: #444;
  color: white;
  width: 80%;
  height: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  border-radius: 10px;
  border: 2px solid white;
  margin-top: 10px;
}

.camera-list {
  display: flex;
  justify-content: space-between;
  flex-direction: column;
  align-items: center;
  gap: 10px;
  padding: 10px;
}


.live-video {
  width: 80%;
  height: 150px;
  border: 4px solid white;
  border-radius: 10px;
  object-fit: cover;
}
