<ion-menu contentId="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-title class="header-title" style="display: flex; align-items: center; justify-content: center;">
        <img src="assets/images/Logo.png" alt="Logo" height="80" width="80" style="margin-top: 25px; margin-bottom: 16px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <ion-card-header>
      <ion-card-title class="text-white">Registers</ion-card-title>
    </ion-card-header>

    <ion-list>
      <ng-container *ngFor="let camera of menuData">
        <ion-item button (click)="toggleCamera(camera)">
          <ion-label>{{ camera.name }}</ion-label>
        </ion-item>

        <ng-container *ngIf="camera.expanded">
          <ion-list>
            <ng-container *ngFor="let year of camera.years">
              <ion-item button (click)="toggleYear(year)">
                <ion-label>{{ year.year }}</ion-label>
              </ion-item>

              <ng-container *ngIf="year.expanded">
                <ion-list>
                  <ng-container *ngFor="let month of year.months">
                    <ion-item button (click)="openDetail(camera.name, year.year.toString(), month.name)">
                    <ion-label>{{ month.name }}</ion-label>
                  </ion-item>
                  </ng-container>
                </ion-list>
              </ng-container>
            </ng-container>
          </ion-list>
        </ng-container>
      </ng-container>
    </ion-list>
  </ion-content>
</ion-menu>

<div class="ion-page" id="main-content">
  <ion-header>
    <ion-toolbar color="dark">
      <ion-buttons slot="start">
        <ion-menu-button></ion-menu-button>
      </ion-buttons>
      <ion-title class="header-title">
        <img src="assets/images/Logo.png" alt="Logo" height="80" width="80" style="margin-top: 25px; margin-bottom: 16px;">
      </ion-title>
    </ion-toolbar>
  </ion-header>
   <ion-card-title class="center text-white">Registros con camara</ion-card-title>
    <ion-content color="dark">
      <ion-grid>
        <ion-row>
          <ion-col
            size="12"
            size-md="4"
            size-lg="3"
            *ngFor="let det of imagenes"
            class="imagen-col"
          >
            <ion-card class="imagen-card">
              <img [src]="det" alt="Detección" />
            </ion-card>
          </ion-col>
        </ion-row>
      </ion-grid>
    </ion-content>

  

</div>