<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Login</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">Login</ion-title>
    </ion-toolbar>
  </ion-header>
  <ion-button expand="block" color="warning">Log in</ion-button>
  <ion-button expand="block" color="light">Sign in with Google</ion-button>
  <ion-button expand="block" color="primary">Sign in with Facebook</ion-button>
  
</ion-content>
