<ion-header> 
  <ion-toolbar color="dark">
    <ion-title class="header-title" style="display: flex; align-items: center; justify-content: flex-start;">
      <img src="assets/images/Logo.png" alt="Logo" height="100" width="100" style="margin-bottom: 10px;">
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content color="dark">
  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title class="text-white">Main Cameras</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <div class="camera-container">
        <ion-icon name="stop-outline" class="camera-icon"></ion-icon>
        <div class="camera-grid">
          <ion-icon name="stop-outline" class="camera-icon"></ion-icon>
          <ion-icon name="stop-outline" class="camera-icon"></ion-icon>
        </div>
      </div>
    </ion-card-content>
  </ion-card>

  <ion-card color="dark">
    <ion-card-header>
      <ion-card-title class="text-white">Registers</ion-card-title>
    </ion-card-header>
    <ion-card-content>
      <ion-grid>
        <ion-row>
          <ion-col><strong>ID</strong></ion-col>
          <ion-col><strong>Register</strong></ion-col>
          <ion-col><strong>Date</strong></ion-col>
        </ion-row>
        <ion-row>
          <ion-col>1234</ion-col>
          <ion-col>Smooth</ion-col>
          <ion-col>12/03/2025</ion-col>
        </ion-row>
        <ion-row>
          <ion-col>12345</ion-col>
          <ion-col>Fire</ion-col>
          <ion-col>12/03/2025</ion-col>
        </ion-row>
      </ion-grid>
    </ion-card-content>
  </ion-card>
</ion-content>

<ion-footer>
  <ion-toolbar color="dark">
    <ion-buttons slot="middle">
      <ion-button>
        <ion-icon name="stop-outline" size="large"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-footer>
