 .header-title {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-title img {
  margin-top: 25px; // Ajusta este valor según cuánto quieras bajarlo
  margin-bottom: 16px;
}

  .camera-container {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .camera-grid {
    display: flex;
    justify-content: space-between;
    width: 100%;
  }
  .camera-icon {
    font-size: 100px;
    color: white;
  }
  .text-white {
    color: white;
  }
