<ion-app>
  <ion-router-outlet></ion-router-outlet>

  <ion-tabs *ngIf="showTabs">
    <ion-tab-bar slot="bottom">
      <ion-tab-button tab="principal-page" [routerLink]="['/principal-page']">
        <ion-icon name="home"></ion-icon>
        Principal Page
      </ion-tab-button>
      <ion-tab-button tab="cameras" [routerLink]="['/cameras']">
        <ion-icon name="camera"></ion-icon>
        Cameras
      </ion-tab-button>
      <ion-tab-button tab="setting" [routerLink]="['/setting']">
        <ion-icon name="settings"></ion-icon>
        Settings
      </ion-tab-button>
    </ion-tab-bar>
  </ion-tabs>
</ion-app>

